---
import MyPhoto from '../assets/MyPhoto.astro';
import {hero} from '../collections/info.json'
import { socialLinks } from '../config/info';
import Button from './ui/Button.astro';
import { UserSearchIcon } from '@lucide/astro';

const {title, professions, abstract} = hero;
---
<section class="mt-30 justify-center tablet:mt-40 lg:mt-50" role="presentation">
    <div class="grid grid-cols-1 max-w-7xl px-6 py-8 mx-auto sm:grid-cols-[1fr_auto] tablet:grid-cols-[2fr_1fr]">
        <div class="flex flex-col gap-6 max-w-sm mx-auto text-center items-center justify-center sm:max-w-md sm:text-left sm:items-start tablet:max-w-xl lg:max-w-4xl">
            <hgroup>
                <h1 class="flex items-center gap-2 text-4xl text-dark-blue tablet:text-6xl lg:text-7xl tablet:gap-4 dark:text-dire">Hi, I'm <span class="typing">{title}</span></h1>
                <div class="text-decorative">
                    {professions.map((profession) => (
                        <p class="font-semibold text-acero tablet:text-xl dark:text-light-gray">{profession}</p>
                    ))}
                </div>
            </hgroup>
            <p class=" text-gray-500 tablet:text-lg dark:text-neutral-200">{abstract}</p>
            <div class="inline-flex justify-center items-center py-2 space-x-5 overflow-hidden">
                <Button type='solid' url='/contacto'>
                    Mail Me <UserSearchIcon size={16}/>
                </Button>
                {socialLinks.map((social)=> (
                    <a href={social.url} target="_blank"  rel="noopener noreferrer" title={social.site}>
                        <div class="icons text-bright-blue dark:text-dire hover:scale-105">
                            <Fragment set:html={social.icon} />
                        </div>
                    </a>
                ))}
            </div>
        </div>
        <div class="mt-0 flex justify-center items-center">
            <MyPhoto />
        </div>                
    </div>
</section>

<style>
    .icons{
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .icons svg{
        width: 25px;
        height: 25px;
        fill: currentColor;
        transition: all 0.3s ease-in-out;
    }

    p {
        content-visibility: auto;
        font-family: system-ui, -apple-system, sans-serif;
    }

    .text-decorative{
        --height: 1.875rem;
        height: var(--height);
        line-height: var(--height);

        overflow: hidden;
    }

    .text-decorative p{
        animation: slide-up 6s infinite;
    }

    @keyframes slide-up {
        0%, 50% {
            transform: translateY(0%);
        }
        55%, 95% {
            transform: translateY(-100%);
        }
    }

    span.typing{
        display: block;
        white-space: nowrap;
        border-right: 0.2rem solid;
        width: 6ch;
        animation: writing 2s steps(6), blink .5s infinite step-end alternate;
        overflow: hidden;
    }

    @keyframes writing {
        from {width: 0;}
    }

    @keyframes blink {
        50% {border-color: transparent;}
    }

</style>