---
import MyPhoto from '../assets/MyPhoto.astro';
import {hero} from '../collections/info.json'
import { socialLinks } from '../config/info';
import Button from './ui/Button.astro';
import { UserSearchIcon } from '@lucide/astro';

const {title, presentation} = hero;
---

<section class="mt-15 justify-center" role="presentation">
    <div class="grid grid-cols-1 max-w-7xl px-6 py-8 mx-auto sm:grid-cols-[1fr_auto] tablet:grid-cols-[2fr_1fr]">
        <div class="max-w-sm mx-auto text-center items-center justify-center sm:max-w-md sm:text-left sm:items-start tablet:max-w-xl lg:max-w-2xl">
            <h1 class="text-4xl text-dark-blue leading-none tablet:text-6xl dark:text-dire font-cinzel">{title}</h1>
            <p class="font-rubik text-gray-500 my-8 tablet:text-lg dark:text-neutral-200">{presentation}</p>
            <div class="inline-flex justify-center items-center space-x-5 overflow-hidden">
                <Button type='solid' url='/contacto'>
                    Mail Me <UserSearchIcon size={16}/>
                </Button>
                {socialLinks.map((social)=> (
                    <a href={social.url} target="_blank"  rel="noopener noreferrer" title={social.site}>
                        <div class="icons text-bright-blue dark:text-dire">
                            <Fragment set:html={social.icon} />
                        </div>
                    </a>
                ))}
            </div>
        </div>
        <div class="mt-0 flex justify-center items-center">
            <MyPhoto />
        </div>                
    </div>
</section>

<style>
    .icons{
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .icons svg{
        width: 20px;
        height: 20px;
        fill: currentColor;
    }
    p {
        content-visibility: auto;
        font-family: system-ui, -apple-system, sans-serif;
    }
</style>