---
import site from "../config/site.json";

const SITE_URL = import.meta.env.PUBLIC_SITE_URL || "";

export interface Props {
    title?: string;
    description?: string;
    keywords?: string;
    url?: string;
    ogImage?: string;
}

const {
    title,
    description,
    keywords = "",
    url = SITE_URL,
    ogImage = "/src/assets/images/logo.webp"
} = Astro.props
---
<!-- Meta Tags -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.webp" />
<meta name="generator" content={Astro.generator} />
<link rel="preload" href="/assets/fonts/rubik-v31-latin-regular.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/assets/fonts/cinzel-v26-latin-800.woff2" as="font" type="font/woff2" crossorigin />
<meta name="description" content={description}>
<meta name="keywords" content={keywords}>
<meta name="author" content={site.author}>
<title>{title}</title>

<!-- OpenGraph tags -->
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={url} />
<meta property="og:image" content={ogImage} />
<meta property="og:site_name" content={title} />