---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { ExternalLink, Github } from "@lucide/astro";
import Breadcrumbs from "../../components/ui/Breadcrumbs.astro";

export async function getStaticPaths () {
    const projects = await getCollection('projects')

    return projects.map((project) => ({
        params: {id: project.slug},
        props: {project}
    }))
}

const {project} = Astro.props
const {data, slug} = project
const {title, img, description, stack, urls} = data
const path = Astro.url.pathname

export const prerender = true

const {Content} = await render(project)

const fullPath = path.split('/').filter(Boolean)
---

<Layout title={`${title} | Proyectos | DS FullStack Dev`} description={description} keywords={`${title}, proyectos, Daniel Soledad`}>
    <div class="container mx-auto p-16 md:p-18 tablet:p-20">
        <Breadcrumbs fullPath={fullPath} label={title} />
        <article class="flex flex-col gap-8 mt-10" role="article" aria-label={`Información sobre el proyecto ${title}`}>
            <div class="flex flex-col justify-around items-center mb-2 gap-6 tablet:flex-row tablet:justify-center tablet:mb-4 lg:mb-6">
                <Image transition:name={`img-${slug}`} src={`/${img}`} alt={title} title={title} width={550} height={350} class="lg:w-4xl lg:h-auto rounded-2xl transition-all duration-150 ease-in-out object-contain hover:-translate-y-1" loading="eager" />
                <div class="flex items-start tablet:flex-col gap-4">
                    {stack.map((item) => {
                        const isThemed = typeof item === 'object';
                        const name = isThemed ? item.light.replace(/\.[^.]+$/, '') : item.replace(/\.[^.]+$/, '');
                        
                        return isThemed ? (
                            <>
                                <img src={`/${item.light}`} title={name.charAt(0).toUpperCase() + name.slice(1).split('-')[0]} alt={name} class="h-7 w-7 lg:h-10 lg:w-10 object-scale-down block dark:hidden" />
                                <img src={`/${item.dark}`} title={name.charAt(0).toUpperCase() + name.slice(1).split('-')[0]} alt={name} class="h-7 w-7 lg:h-10 lg:w-10 object-scale-down hidden dark:block" />
                            </>
                            ) : (
                            <img src={`/${item}`} title={name.charAt(0).toUpperCase() + name.slice(1).split('-')[0]} alt={item.replace(/\.[^.]+$/, '')} class="h-7 w-7 lg:h-10 lg:w-10 object-scale-down" />
                        );
                    })}
                </div>
            </div>
            <header class="flex flex-col items-start tablet:flex-row justify-between mb-2 tablet:mb-4 lg:mb-6">
                <h1 class="text-4xl tablet:text-6xl lg:text-7xl font-extrabold">{title}</h1>
                <div class="flex gap-2 justify-center items-center">
                    {urls.demo !== null && <a href={urls.demo} target="_blank" rel="noopener noreferrer" class="p-2 rounded-full hover:bg-sea-blue dark:hover:bg-menu-dota dark:hover:text-plata hover:text-radiant transition-colors relative z-10 text-hard-radiant dark:text-orange">
                        <ExternalLink size={30}/>
                    </a>}
                    {urls.code && <a href={urls.code} target="_blank" rel="noopener noreferrer" class="p-2 rounded-full hover:bg-sea-blue dark:hover:bg-menu-dota dark:hover:text-plata hover:text-radiant transition-colors relative z-10 text-hard-radiant dark:text-orange">
                        <Github size={30}/>
                    </a>}
                </div>
            </header>
            <div class="max-w-8xl prose dark:prose-invert">
                <Content/>
            </div>
        </article>
    </div>
</Layout>
