---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { ExternalLink, Github } from "@lucide/astro";

export async function getStaticPaths () {
    const projects = await getCollection('projects')

    return projects.map((project) => ({
        params: {id: project.slug},
        props: {project}
    }))
}

const {project} = Astro.props
const {data, slug} = project
const {title, img, description, stack, urls} = data

export const prerender = true

const {Content} = await render(project)
---

<Layout title={`${title} | Proyectos | Daniel Soledad Dev`} description={description} keywords={`${title}, proyectos, Daniel Soledad`}>
    <main class="bg-white dark:bg-gray-900" role="main">
        <article class="flex flex-col gap-8 max-w-7xl mx-auto mt-30 mb-20 tablet:mt-40 lg:mt-50 " role="article" aria-label={`Información sobre el proyecto ${title}`}>
            <div class="flex flex-col justify-center items-center gap-4 mb-6">
                <div class="stack-icon flex grow gap-4 mb-6">
                    {stack.map((item) => {
                        const isThemed = typeof item === 'object';
                        const name = isThemed ? item.light.replace(/\.[^.]+$/, '') : item.replace(/\.[^.]+$/, '');
                        
                        return isThemed ? (
                            <>
                                <img src={`/${item.light}`} title={name} alt={name} class="h-7 w-7 object-scale-down block dark:hidden" />
                                <img src={`/${item.dark}`} title={name} alt={name} class="h-7 w-7 object-scale-down hidden dark:block" />
                            </>
                            ) : (
                            <img src={`/${item}`} alt={item.replace(/\.[^.]+$/, '')} class="h-7 w-7 object-scale-down" />
                        );
                    })}
                </div>
                <Image src={`/${img}`} alt={title} width={700} height={450} class="rounded transition-all duration-150 ease-in-out object-contain hover:animate-scale" />
            </div>
            <header class="flex items-start justify-between mb-4">
                <h1 class="text-5xl font-extrabold">{title}</h1>
                <div class="flex gap-2">
                    {urls.demo !== null && <a href={urls.demo} target="_blank" rel="noopener noreferrer" class="p-2 rounded-full hover:bg-radiant   dark:hover:bg-orange transition-colors relative z-10 text-bright-blue dark:text-dire">
                        <ExternalLink size={25}/>
                    </a>}
                    {urls.code && <a href={urls.code} target="_blank" rel="noopener noreferrer" class="p-2 rounded-full hover:bg-radiant dark:hover:bg-orange transition-colors relative z-10 text-bright-blue dark:text-dire">
                        <Github size={25}/>
                    </a>}
                </div>
            </header>
            <div class="max-w-7xl prose dark:prose-invert">
                <Content/>
            </div>
        </article>
    </main>
</Layout>

<style>
    @media (prefers-color-scheme: dark) {
        .stack-icon .ic-astro-icon-light{
            background-image: url("astro-icon-dark.svg");
        }
    }
</style>