---
export interface Props {
    type?: "presentation" | "extra-info" | "skills-info"; // Multiple type of cards for the same section
    className?: string; // Custom CSS Classes
    mainContent: string;
    content?: string;
    itemList?: [];
    icon?: string
}

const {type, className, mainContent, content, itemList, icon} = Astro.props
---
<div class={`bento-card ${type === 'presentation' ? `tablet:col-span-2 p-8 group` : type === 'extra-info' ? `flex flex-col justify-between p-6 group` : type === 'skills-info' ? `tablet:col-span-2 p-6 group` : `p-6`} ${className}`}>
    {type === "presentation" ? (
        <div class="flex items-start gap-6">
            <div class="w-20 h-20 tablet:w-24 tablet:h-24 flex items-center justify-center shrink-0 group-hover:scale-105 rounded-4xl bg-linear-to-br from-radiant to-sea-blue dark:from-dire dark:to-gray-700">
                <img src={icon} class="rounded-2xl group-hover:scale-105"/>
            </div>
            <hgroup class="flex flex-col gap-2">
                <h3 class="font-cinzel prose text-xl font-bold text-dark-blue dark:text-dire leading-tight">{mainContent}</h3>
                <p class="font-rubik text-sm text-gray-600 dark:text-neutral-300">{content}</p>
            </hgroup>
        </div>
    ):type === "extra-info" ? (
        <div class="flex flex-col gap-8 justify-items-start">
            <div class="w-10 h-10 rounded-2xl bg-linear-to-br from-radiant to-sea-blue dark:from-dire dark:to-gray-700">{icon}</div>
            <p class="col-span-2 col-start-2 row-start-2 font-rubik text-sm prose text-gray-500 dark:text-neutral-200">{content}</p>
            <h3 class="col-span-2 font-cinzel text-lg text-dark-blue dark:text-dire">{mainContent}</h3>
        </div>
    ):type === "skills-info" ? (
        <div class="grid grid-cols-3 grid-rows-2 gap-8">
            <div class="w-10 h-10">{icon}</div>
            <h3 class="col-span-2 font-cinzel text-lg text-dark-blue dark:text-dire">{mainContent}</h3>
            <div class="flex flex-wrap gap-2 font-roboto">{itemList?.map((item) => {
                return (
                    <span class="px-3 py-1.5 text-sm rounded-lg bg-radiant text-acero hover:bg-sea-blue hover:text-light-blue dark:bg-gray-800 dark:text-red-600 dark:hover:bg-dire dark:hover:text-niebla transition-colors cursor-default">{item}</span>
                )
            })}</div>
        </div>
    ): (
        <div><slot/></div>
    )}
</div>

<style>
    .bento-card{
        background-color: var(--color-light-blue);
        border: 0.1rem solid var(--color-radiant);
        border-radius: 1.5rem;
    }
    .bento-card:hover{
        box-shadow: 0 0 0 1rem var(--color-radiant), ;
        transform: translateY(-0.5rem);
        transition: all 0.3s ease-in-out;
    }
    :global(.dark) .bento-card{
        background-color: var(--color-light-black);
        border: 0.2rem solid var(--color-dire);
    }
    :global(.dark) .bento-card:hover{
        box-shadow: 0 0 0 0 1rem var(--color-dire);
    }
</style>