---
import type { SvgComponent } from 'astro/types'

type Item = {
    label: string,
    icon: SvgComponent
}

type itemsList = Array<Item>

export interface Props {
    itemsList: itemsList
}

const {itemsList} = Astro.props
---

<h3 class="mb-4 font-semibold">Tipo de proyecto</h3>
<ul class="flex flex-row w-full tablet:flex-col tablet:w-48 bg-neutral-primary-soft border border-default rounded-base">
    {
        itemsList.map((item) => {
        <li class="w-full border-b border-default">
            <div class="flex items-center ps-3">
                <input id={`list-radio-${item.label}`} type="radio" value={item.label} name="list-radio" class="w-4 h-4 text-neutral-primary bg-neutral-secondary-medium rounded-full checked:border-brand focus:ring-2 focus:outline-none focus:ring-brand-subtle border border-default appearance-none">
                <label for={`list-radio-${item.label}`} class="w-full py-3 select-none ms-2 text-sm font-medium text-heading">{item.label}</label>
                {item.icon}
            </div>
        </li> 
        })
    }
</ul>
