---
import type { SvgComponent } from 'astro/types'

type Item = {
    label: string,
    icon: SvgComponent
}

type itemsList = Array<Item>

export interface Props {
    itemsList: itemsList
}

const {itemsList} = Astro.props
---

<h3 class="mb-4 font-semibold">Tipo de proyecto</h3>
<ul class="grid grid-cols-2 md:grid-cols-3 tablet:grid-cols-1 w-full tablet:w-fit border border-default rounded-2xl">
    {
        itemsList.map((item) => {
            const Icon = item.icon
            return (
            <li class="w-full border-b flex border-default px-3 last:border-b-0">
                <div class="flex justify-around items-center px-3">
                    <input id={`list-radio-${item.label}`} type="radio" value={item.label} name="list-radio" class="cursor-pointer w-4 h-4 text-plate bg-neutral-secondary-medium rounded-full checked:border-brand focus:ring-2 focus:outline-none focus:ring-brand-subtle border border-default appearance-none">
                    <label for={`list-radio-${item.label}`} class="w-full py-3 select-none ms-2 text-sm font-medium text-heading">{item.label}</label>
                    <Icon class="w-6 h-6 text-bright-blue dark:text-orange"/>
                </div>
            </li>    
            )
        })
    }
</ul>
