---
import type { SvgComponent } from 'astro/types'

type Item = {
    label: string,
    icon: SvgComponent
}

type itemsList = Array<Item>

export interface Props {
    itemsList: itemsList
}

const {itemsList} = Astro.props
---

<h3 class="mb-4 font-semibold">Tipo de proyecto</h3>
<ul class="grid grid-cols-2 md:grid-cols-3 tablet:grid-cols-1 w-full tablet:w-fit border border-default rounded-2xl">
    {
        itemsList.map((item) => {
            const Icon = item.icon
            return (
            <li class="w-full border-b flex border-default px-3 last:border-b-0">
                <div class="inline-flex justify-around items-center p-3 cursor-pointer">
                    <input id={`list-radio-${item.label.toLowerCase()}`} type="radio" value={item.label} name="list-radio" class="w-4 h-4 text-plate bg-neutral-secondary-medium rounded-full checked:border-brand focus:ring-2 focus:outline-none focus:ring-brand-subtle border border-default appearance-none" data-filter={item.label.toLowerCase()}>
                    <label for={`list-radio-${item.label.toLowerCase()}`} class="inline-flex items-center w-full gap-x-1.5 select-none ms-2 text-sm font-medium text-heading">
                        {item.label}
                        <Icon class="text-bright-blue dark:text-orange w-4 h-4"/>
                    </label>
                </div>
            </li>    
            )
        })
    }
</ul>
